html.cosmos {
  --main-color: #0b011d;

  --accent: #EE49FD;
  --accent-hover: #C72BFF;
  --accent-faded: #C72BFF;

  --accent-main: #EE49FD;
  --accent-secondary: #5A069B;
}

html.ardent {
  --main-color: #100100;

  --accent: #FF4066;
  --accent-hover: #FF4066;
  --accent-faded: #FF4066;

  --accent-main: #FFF16A;
  --accent-secondary: #FF4066;
}