html.dark {
  --main-color: #16161D;
  --text-color: #FDFDFD;
  --inverted: #FFFFFF;
  --muted: #656567;

  --accent: #10b981;
  --accent-hover: #059669;
  --accent-faded: #059669;

  --accent-main: #FFF16A;
  --accent-secondary: #FF4066;
}