html.dark {
  --bg-primary: #1c1c1c;
  --bg-primary-opacity: 12, 12, 13;
  --bg-secondary: #282828;
  --bg-card: #343434;

  --font-primary: #FFFFFF;
  --font-muted: #707070;
  --font-inverted: #282828;

  --border-primary: #2c282e;
  --border-primary-hover: #66646A;
  --border-muted: #1C1822;
  --font-placeholder: #403D46;

  --accent: #EE49FD;
  --accent-hover: #C72BFF;
  --accent-faded: #C72BFF;
  --accent-inverted: #0ca5e6;

  --accent-primary: #EE49FD;
  --accent-secondary: #5A069B;
}