html.light {
  --bg-primary: #F7F2F2;
  --bg-primary-opacity: 255, 255, 255;
  --bg-secondary: #FFFFFF;
  --bg-card: #FFFFFF;
  --bg-card-hover: #f8f6f6;

  --font-primary: #0C0C0D;
  --font-muted: #5d5b61;
  --font-inverted: #FFFFFF;

  --border-primary: #E5E5E5;
  --border-primary-hover: #D9D9D9;
  --border-muted: #1C1822;
  --font-placeholder: #403D46;

  --accent: #EE49FD;
  --accent-hover: #C72BFF;
  --accent-faded: #C72BFF;
  --accent-inverted: #0ca5e6;

  --accent-main: #EE49FD;
  --accent-secondary: #5A069B;
}