html.dark {
  --bg-main: #131313;
  --bg-main-opacity: 12, 12, 13;
  --bg-secondary: #282828;
  --bg-card: #282828;
  --bg-card-hover: #343434;

  --font-primary: #ededed;
  --font-muted: #808080;
  --font-inverted: #282828;

  --border-primary: #2E2E2E;
  --border-primary-hover: #3E3E3E;
  --border-muted: #1C1822;
  --font-placeholder: #707070;
}
