.fade-enter-active,
.fade-leave-active {
  transition: opacity .2s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

.signature {
  stroke-dasharray: 2036;
  stroke-dashoffset: 2036;
  animation: sign 5s ease-in forwards;
}

@keyframes sign{
  to{
    stroke-dashoffset: 0;
  }
}